<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="./css/main.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="container">
    <div class="divider"></div>
    <div class="row center-align">
      <div class="col s10 push-s1">
          <p><span class="flow-text">Click the button below to order a drink</span></p>
          <div class="row"><button class="col s8 push-s2" id="orderDrink1"><span class="flow-text">Order Drink #1</span></button></div>
          <div class="row"><button class="col s8 push-s2" id="orderDrink2"><span class="flow-text">Order Drink #2</span></button></div>
          <div class="row"><button class="col s8 push-s2" id="orderDrink3"><span class="flow-text">Order Drink #3</span></button></div>
          <div class="row"><button class="col s8 push-s2" id="orderDrink4"><span class="flow-text">Order Drink #4</span></button></div>
          <div class="row"><button class="col s8 push-s2" id="orderDrink5"><span class="flow-text">Order Water</span></button></div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="row center-align">
      <div class="row">
        <div class="col s8 push-s2">
          <p><span class="flow-text">Customize</span></p>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <div class="left green lighten-3" style="width:0%;height:5vw"></div>
          <div class="left teal lighten-3" style="width:22%;height:5vw"></div>
          <div class="left purple lighten-3" style="width:10%;height:5vw"></div>
          <div class="left red lighten-3" style="width:68%;height:5vw"></div>
        </div>
      </div>
      <div class="row">
        <div class="col s3">
          <div class="card-panel green lighten-3 hoverable"><span class="flow-text">#1</span></div>
        </div>
        <div class="col s3">
          <div class="card-panel teal lighten-3 hoverable"><span class="flow-text">#2</span></div>
        </div>
        <div class="col s3">
          <div class="card-panel purple lighten-3 hoverable"><span class="flow-text">#3</span></div>
        </div>
        <div class="col s3">
          <div class="card-panel red lighten-3 hoverable"><span class="flow-text">#4</span></div>
        </div>
      </div>
    </div>
    <div id="chatlog">
      <button id="pingButton">Ping</button>
      <input type="text" id='message'>
    </div>
    <div class="row">
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
      <script type="text/javascript" src="./js/main.js"></script>
    </div>
  </div>
</body>
</html>
